/* General Styles */
body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #2c3e50;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar .logo {
    margin: 20px 0;
}

.sidebar h1 {
    font-size: 24px;
    color: white;
    margin: 0;
}

.sidebar .menu ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

.sidebar .menu ul li {
    margin: 15px 0;
}

.sidebar .menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar .menu ul li a.active,
.sidebar .menu ul li a:hover {
    background-color: #34495e;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
}

/* Sección */
.section {
    max-width: 95%; /* Se amplía el ancho al 95% */
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px; /* Espacio inferior adicional */
}

/* Títulos */
.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #34495e;
    text-align: center;
}

/* Language Selector */
.language-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.language-button .menu-button {
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.language-button .menu-button:hover {
    background-color: #34495e;
}

.language-button .dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #2c3e50;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.language-button:hover .dropdown-menu {
    display: block;
}

/* Tables */
.modern-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.modern-table thead {
    background-color: #2c3e50;
    color: white;
    font-weight: bold;
}

.modern-table th,
.modern-table td {
    padding: 12px;
    border: 1px solid #eaeaea;
}

.modern-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.modern-table tbody tr:hover {
    background-color: #f1f1f1;
}

.modern-table td {
    color: #2c3e50;
    font-weight: 500;
}

/* Item Icons */
.item-icon {
    width: 50px; /* Aumentamos el tamaño de los íconos */
    height: 50px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

td span {
    display: block;
    text-align: center;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: bold;
}

/* Currency Colors */
.gold {
    color: gold;
    font-weight: bold;
}

.silver {
    color: silver;
    font-weight: bold;
}

.copper {
    color: brown;
    font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    .main-content {
        margin-left: 210px;
    }

    .language-button {
        top: 10px;
        right: 10px;
    }

    .modern-table th, .modern-table td {
        font-size: 14px; /* Reducir tamaño de texto en pantallas más pequeñas */
    }

    .item-icon {
        width: 40px; /* Reducir el tamaño de los íconos en móviles */
        height: 40px;
    }

    .currency {
        display: inline-flex;
        align-items: center;
        justify-content: flex-start;
    }
    
    .currency span {
        margin-right: 5px;
    }
    
    .currency-icon {
        width: 18px;
        height: 18px;
        margin-left: 3px;
    }

}